{% extends "ServiceBundle::layout2.html.twig" %}
{% block x %}


{#<form method="POST">
    Nom de Service : <input type="text" name="nomService">
    <input type="submit" value="rechercher">
</form>#}

 <form method="POST" class="navbar-form navbar-left navbar-main-search" >
                        <div class="form-group">
                            <input name="nomService" class="form-control" type="text" placeholder="rechercher un service..." />
                        </div>
                      <a class="fa fa-search navbar-main-search-submit" href="#"></a>
                    </form>
{% endblock  %}
{% block t %}
 {% for c in serv%}
 <fieldset >
     <legend >Categorie:<label name="type">{{c.type}}</label><br></legend>
<label><b>Nom :</b></label><label name="nom">{{c.nomService}}</label><br>
<label><b>Date d'ajout:</b></label><label name="dateAjout">{{c.dateAjout|date('m/d/Y')}}</label><br>
<label><b>Description :</b></label><label name="decription">{{c.description}}</label><br>
<label><b>zone:</b></label><label name="zone">{{c.zone.nom}}</label><br>
<label><b>Etat:</b></label><label name="etat">{{c.etat}}</label><br>
{#<a class="btn btn-lg btn-ghost btn-black" href="{{path('service_modifier', {'id':c.id})}}">Modifier</a>
<a class="btn btn-lg btn-ghost btn-black" href="{{path('service_supprimer', {'id':c.id})}}">Supprimer </a>
<a class="btn btn-lg btn-ghost btn-black" href="{{path('service_contacter', {'id':c.id})}}">Contacter </a><br><div></div>#}
 </fieldset >
{% endfor %}



{% endblock  %}

       